h1 {
    background-color: blue;
    color: orange;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    background-color: purple;
    color: yellow;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    background-color: Orange;
    color: blue;
    text-align: center;    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* {
    border: 2px solid red;
}